@{
    ViewData["Title"] = "Home Page";
}

@*<h1>User No: @Model.UserNo</h1>
<h1>User Name: @Model.UserName</h1>*@



@*<h2>User No: @ViewBag.User.UserNo</h2>

<h2>User Name: @ViewBag.User.UserName</h2>*@


<h3>User No: @ViewData["UserNo"]</h3>

<h3>User Name: @ViewData["UserName"]</h3>